<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="PiPay is designed for a simple, effortless and convenient customer experience. With its vast national network of banks, merchants, and service providers">
    <meta name="keywords" content="pipay, pipaytech">
    <meta name="author" content="pipaytech">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    {% load static %}
    <link rel="icon" href="{% static '/img/favio_icon.png' %}" type="image/png"  sizes="16x16" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">

    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

  </head>
  <body>
    {% block body %}
    {% include 'snippets/main_header.html' %}
    {% include 'snippets/message.html' %}

    {% block content %}
    {% endblock %}

    {% include 'snippets/footer.html' %}
    {% include 'snippets/header_modal.html' %}
    <script src="{% static 'js/coupon.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
