{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="d-grid justify-content-center"> 
    <h1>{% trans "Change Password" %}</h1>
    <p class="fs-5">{% trans 'Your password is now changed.' %}</p>

    <div class="mb-2 d-flex justify-content-between mt-3">
        <small class="navy-blue">You can go ahead and login! {% blocktrans %} <a class="navy-blue fw-bold" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</small>
    </div>
</div>
{% endblock %}
