{% extends 'index.html' %}
{% load static %}
{% block title %}Get coupon{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/form-validation.css' %}">
<div class="container">
    <main>
      <div class="row g-5">

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate="">

            <div class="row g-3">
              <div class="col">
                <label for="coupon" class="form-label">Verify Coupon</label>
                <input type="text" class="form-control" id="coupon" placeholder="" value="" required="">
                <div class="invalid-feedback">
                  Valid coupon is required.
                </div>
            </div>

            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue</button>
          </form>
        </div>
      </div>
    </main>
  
</div>
<script src="{% static 'js/form-validation.js' %}"></script>
{% endblock %}
