{% extends 'index.html' %}

{% block title %}Dashboard{% endblock %}
{% load static %}

{% block content %}   
    
<div class="container mt-5 mb-5">
    <div class="row">
        <main class="ms-sm-auto px-md-4">

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="p-3 bg-gradient blue-bg rounded-5">
                            <div>Welcome, <span class="w-user">{{request.user}}</span></div>
                            <div class="mt-3">
                                <div>Total Balance</div>
                                <div id="total-balance" class="h2">$220.5</div>
                            </div>

                            <div class="mb-3 form-check form-switch d-grid justify-content-end form-group">
                                <div class="">
                                    <label class="form-check-label" for="balance-toggle">Show balance</label>
                                    <input class="form-check-input" type="checkbox" id="balance-toggle" checked="">
                                </div>
                                
                            </div>

                            <script>
                                let total_balance = document.getElementById('total-balance')
                                let balance_toggle = document.getElementById('balance-toggle')
                                balance_toggle.addEventListener('click', (e)=>{
                                    console.log(balance_toggle.value)
                                })
                            </script>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 mt-5">

                        <div class="row">
                            <div class="col mx-2">
                                <img src="{% static 'img/icon/g1.png' %}" alt="g1.png">
                                <p class="mt-0">Withdraw</p>
                            </div>
                            <div class="col mx-2">
                                <img src="{% static 'img/icon/g2.png' %}" alt="g2.png">
                                <p class="mt-0">Tasks</p>
                            </div>
                            <div class="col mx-2">
                                <img src="{% static 'img/icon/g3.png' %}" alt="g3.png">
                                <p class="mt-0">Earnings</p>
                            </div>
                            <div class="col mx-2">
                                <img src="{% static 'img/icon/g4.png' %}" alt="g4.png">
                                <p class="mt-0">Referals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
               <div class="row row-cols-2 row-cols-md-5 mt-5 mx-auto">
                    <div class="col mx-auto container mt-3">
                        <div class="p-3 border rounded-5">
                            <p class="text-muted">Task <br> Earnings</p>
                            <p class="h2 fw-bold">$100</p>
                        </div>
                    </div>
                    <div class="col mx-auto container mt-3">
                        <div class="p-3 border rounded-5">
                            <p class="text-muted">Affiliate <br> Earnings</p>
                            <p class="h2 fw-bold">$120</p>
                        </div>
                    </div>
                    <div class="col mx-auto container mt-3">
                        <div class="p-3 border rounded-5">
                            <p class="text-muted">Total <br> Withdrawals</p>
                            <p class="h2 fw-bold">$30</p>
                        </div>
                    </div>
                    <div class="col mx-auto container mt-3">
                        <div class="p-3 border rounded-5">
                            <p class="text-muted">Total <br> Earnings</p>
                            <p class="h2 fw-bold">$250</p>
                        </div>
                    </div>
                </div> 
            </div>
            
            
        </main>
    </div>
</div>
{% endblock %}