{% extends 'index.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}   
    
<div class="container-fluid">
    <div class="row">

        <main class="ms-sm-auto px-md-4">
            <div class="container d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="row featurette mt-5">
                    <div class="col-md-5 order-sm-last">
                        
                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" src="{% static 'img/smap1.jpg' %}" alt="bg">
                
                    </div>
                    <div class="col-md-7">
                      <h1 class="featurette-heading fw-normal lh-1">Be a Part of Pipay Today. <span class="text-muted">The matter of trust we are just great!.</span></h1>
                      <p class="lead fs-6">PiPay is designed for a simple, effortless and convenient customer experience. With its vast national network of banks, merchants, and service providers, Pipay will change how people engage with their favorite brands and how businesses reach out to their customers.</p>
                        <p class="lead fs-6">We invite businesses to see how Pipay can take their business into the future. Embracing state-of-the-art technology, strict cash handling policies, internationally acclaimed partners and a solid infrastructure, Pi Pay is set to change the face of commerce in Cambodia.</p>                        
                    </div>
                    
                </div>
            </div>

            <div class="container">
                <div class="h2">Earn daily rewards on your idle wallet</div>
                <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                    <div class="col">
                        <div class="card card-cover h-100 overflow-hidden text-white bg-secondary rounded-4 " style="background-image: url('unsplash-photo-2.jpg');">
                          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <div class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</div>
                            
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-dark shadow mx-auto" style="width: 40%; height: 300px; border: 2px; border-radius: 21px 21px 21px 21px; background-image: url('{% static 'img/phone.png' %}'); background-size:cover;"></div>
                    </div>
                </div>
            </div>
           
            <div style="color: #7913e5;" class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="fw-light h1">About Pipay</div>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                    {% if not request.user.is_authenticated %}
                    <p>
                        <a href="{% url 'account_signup' %}" class="btn btn-primary my-2">Signup now</a>
                        <a href="{% url 'account_login' %}" class="btn btn-secondary my-2">Login </a>
                    </p>
                    {% endif %}
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock %}