{% extends 'index.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}   
    
<div class="container-fluid">
    <div class="row">

        <main class="ms-sm-auto px-md-4">
            <div class="container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5">
    
                    <div class="col-md-7">
                        <div class="h4 fw-bold blue-color text-center">RELIABILITY AND COMMITMENT</div>
                        <p class="lead fs-6">PiPay is designed for a simple, effortless and convenient customer experience. With its vast national network of banks, merchants, and service providers, Pipay will change how people engage with their favorite brands and how businesses reach out to their customers.</p>
                        <p class="lead fs-6">We invite businesses to see how Pipay can take their business into the future. Embracing state-of-the-art technology, strict cash handling policies, internationally acclaimed partners and a solid infrastructure, Pi Pay is set to change the face of commerce in Cambodia.</p>                        
                    </div>

                    <div class="col mt-lg-0 mt-sm-5">
                        <div class="card card-cover h-100 text-white bg-secondary rounded-4 shadow"> <!--style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;"-->
                          <div class="d-flex flex-column h-100 p-5 pb-3">
                            <div class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold d-none">Much longer title that wraps to multiple lines</div>
                            
                          </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5">
    
                    <div class="col">
                        <div class="h4 fw-bold blue-color text-center">AFFILATE MARKETING</div>
                        <p class="lead fs-6">We invite businesses to see how Pipay can take their business into the future. Embracing state-of-the-art technology, strict cash handling policies, internationally acclaimed partners and a solid infrastructure, Pi Pay is set to change the face of commerce in Cambodia.</p>                        
                    </div>                   
                </div>
            </div>
           
            <div class="container-lg d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="featurette mt-5">
    
                    <div class="h4 fw-bold blue-color text-center">CONNET WITH US</div>
                    <div class="d-flex justify-content-between">
                        <div class="connet-bg rounded-3 bg-gradient"><i class="fa fa-facebook fa-2x align-self-center"></i></div>
                        <div class="connet-bg rounded-3 bg-gradient"><i class="fa fa-instagram fa-2x align-self-center"></i></div>
                        <div class="connet-bg rounded-3 bg-gradient"><i class="fa fa-twitter fa-2x align-self-center"></i></div>
                    </div>                  
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}