{% extends 'index.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}   

<style>
  
</style>
    
<div class="container-fluid">
    <div class="row">

        <main class="ms-sm-auto px-md-4">
            <div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5 align-items-center">
    
                    <div class="col-md-6">
                        <div class="fs-1 fw-bold blue-color text-start">PAY GIGS</div>
                        <div class="fs-4 fw-bold blue-color text-start">Get access to over 100 online jobs everyday.</div>
                        <p>Pipay gives all its users access to loads of high paying online jobs; ranging from interpreting jobs, data analysis, defi and web3 jobs and many more!!</p>
                        
                    </div>

                    <div class="col mt-lg-0 mt-sm-5 order-lg-first">
                        <div class="h-100 shadow"> <!--style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;"-->
                            <div class="">
                                <img style="width: 100%;" src="{% static 'img/pay_gig.jpg' %}" alt="pipaytech anticipation">
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5 align-items-center">
    
                    <div class="col-12">
                        <div class="fs-1 fw-bold blue-color text-start">Empowerment</div>                        
                        <p class="fs-3">We believe in empowering individuals by providing them with the tools and opportunities to earn a sustainable income through affiliate marketing.</p>
                    </div>
                    <div class="col-12">
                        <div class="fs-1 fw-bold blue-color text-start">Innovation</div>                        
                        <p class="fs-3"> We constantly strive to push boundaries, innovate, and evolve to meet the ever-changing needs of our users and the affiliate marketing industry.</p>
                    </div>
                    
                </div>
            </div>

            {% include 'snippets/carousel.html' %}

            <div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5 align-items-center">
                    <div class="col-12">
                        <div class="fs-1 fw-bold blue-color text-start">Collaboration</div>                        
                        <p class="fs-3">We foster a culture of collaboration, encouraging our users to work together and support each other's success, amplifying their earning potential.</p>
                    </div>
                    <div class="col-12">
                        <div class="fs-1 fw-bold blue-color text-start">Integrity</div>                        
                        <p class="fs-3">We prioritize transparency, trust, and ethical practices in all our interactions, ensuring the highest standards of integrity within our platform.</p>
                    </div>    
                    <div class="col-12">
                        <div class="fs-1 fw-bold blue-color text-start">User-centricity</div>                        
                        <p class="fs-3">Our users are at the heart of everything we do. We are committed to delivering a seamless and user-friendly experience, continuously seeking their feedback and improving our platform based on their needs.</p>
                    </div>                   
                </div>
            </div>

            <div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5 align-items-center">
    
                    <div class="col-md-6">
                        <div class="fs-1 fw-bold blue-color text-start">PAY STREAM</div>
                        <p>
                            Have been streaming songs on Sportify, audiomack and the likes without getting paid??
                            With PIPAY'S pay-per-stream you get paid for streaming your favourite songs across different music platforms!! AMAZING RIGHT????
                        </p>
                        
                    </div>

                    <div class="col mt-lg-0 mt-sm-5 order-lg-first">
                        <div class="h-100 shadow"> <!--style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;"-->
                            <div class="">
                                <img style="width: 100%;" src="{% static 'img/pay_stream.jpg' %}" alt="pipaytech anticipation">
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="section container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5 align-items-center">
    
                    <div class="col-md-6">
                        <div class="fs-1 fw-bold blue-color text-start">PAY STORE</div>
                        <p>
                            Advertise your business to thousands of customers and reach the right audience with pipay
                        </p>
                        
                    </div>

                    <div class="col mt-lg-0 mt-sm-5 order-lg-first">
                        <div class="h-100 shadow"> <!--style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;"-->
                            <div class="">
                                <img style="width: 100%;" src="{% static 'img/pay_store.jpg' %}" alt="pipaytech anticipation">
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

        
            {% include 'snippets/affilate_ads.html' %}
           
            <div class="section container-lg d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="featurette mt-5">
    
                    <div class="h4 fw-bold blue-color text-center">CONNET WITH US</div>
                    <div class="d-flex justify-content-between">
                        <a target="blank" href="https://www.facebook.com/profile.php?id=100094182004170" class="connet-bg rounded-3 bg-gradient"><i class="fa-brands fa-facebook fa-2x align-self-center"></i></a>
                        <a target="blank" href="https://instagram.com/pipaytechnologies?igshid=OGQ5ZDc2ODk2ZA==" class="connet-bg rounded-3 bg-gradient"><i class="fa-brands fa-instagram fa-2x align-self-center"></i></a>
                        <a target="blank" href="https://twitter.com/pipaytech66566" class="connet-bg rounded-3 bg-gradient"><i class="fa-brands fa-twitter fa-2x align-self-center"></i></a>
                    </div>                  
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}