{% extends 'index.html' %}

{% block title %}{% endblock %}
{% load static %}

{% block content %}   

<style>
    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
</style>
    
<div class="container-fluid">
    <div class="row">

        <main class="ms-sm-auto px-md-4">
            <div class="container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5 align-items-center">
    
                    <div class="col-md-7">
                        <div class="h4 fw-bold blue-color text-center">RELIABILITY AND COMMITMENT</div>
                        <p class="lead fs-6">PiPay is designed for a simple, effortless and convenient customer experience. With its vast national network of banks, merchants, and service providers, Pipay will change how people engage with their favorite brands and how businesses reach out to their customers.</p>
                        <p class="lead fs-6">We invite businesses to see how Pipay can take their business into the future. Embracing state-of-the-art technology, strict cash handling policies, internationally acclaimed partners and a solid infrastructure, Pi Pay is set to change the face of commerce in Cambodia.</p>                        
                    </div>

                    <div class="col mt-lg-0 mt-sm-5">
                        <div class="h-100 shadow"> <!--style="background-image: url('{% static 'img/dashboard_desktop.png' %}'); background-size:cover; width:100%; height:100%;"-->
                            <div class="">
                                <img style="width: 100%;" src="{% static 'img/p1.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>

            <section style="margin-top: 100px;">
                <div id="myCarousel" class="carousel slide container-fluid" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="container bd-placeholder-img" src="{% static 'img/p2.jpg' %}" aria-hidden="true" focusable="false">
                        </div>
                        <div class="carousel-item active">
                            <img class="container bd-placeholder-img" src="{% static 'img/p1.jpg' %}" aria-hidden="true" focusable="false">
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
                    
                            <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>One more for good measure.</h1>
                                <p>Some representative placeholder content for the third slide of this carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>

        
            <div class="container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="row featurette mt-5">
    
                    <div class="col">
                        <div class="h4 fw-bold blue-color text-center">AFFILATE MARKETING</div>
                        <p class="lead fs-6">We invite businesses to see how Pipay can take their business into the future. Embracing state-of-the-art technology, strict cash handling policies, internationally acclaimed partners and a solid infrastructure, Pi Pay is set to change the face of commerce in Cambodia.</p>                        
                    </div>                   
                </div>
            </div>
           
            <div class="container-lg d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <div class="featurette mt-5">
    
                    <div class="h4 fw-bold blue-color text-center">CONNET WITH US</div>
                    <div class="d-flex justify-content-between">
                        <div class="connet-bg rounded-3 bg-gradient"><i class="fa-brands fa-facebook fa-2x align-self-center"></i></div>
                        <div class="connet-bg rounded-3 bg-gradient"><i class="fa-brands fa-instagram fa-2x align-self-center"></i></div>
                        <div class="connet-bg rounded-3 bg-gradient"><i class="fa-brands fa-twitter fa-2x align-self-center"></i></div>
                    </div>                  
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}