{% extends 'index.html' %}

{% block title %}Pay Gig{% endblock %}
{% load static %}

{% block content %}   
    
<div class="container-fluid">
    <div class="row">
        <main class="ms-sm-auto px-md-4 mt-5 mb-5">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 px-5 fw-bold bg-gradient blue-bg rounded-5">
                        <div class="h5 fw-bold">Estimated earnings</div>
                        <div class="row">
                            <div class="col-6">
                                <div>Today so far</div>
                                <div class="h6">N0.00</div>
                            </div>
                            <div class="col-6">
                                <div>Yesterday</div>
                                <div class="h6">N0.00</div>
                            </div>
                            <div class="col-6">
                                <div>Last 7 days</div>
                                <div class="h6">N0.00</div>
                            </div>
                            <div class="col-6">
                                <div>This month</div>
                                <div class="h6">N0.00</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 container">                    
                    <div class="row mt-md-0 mt-5 p-4 bg-gradient blue-bg rounded-4">
                        <h5 class="">Task Balance</h5>
                        <div class="h6 fw-bold">{{request.user.user_currency.currency}}{{request.user.user_currency.task}}</div>
                    </div>                    
                </div>
            </div>

            <div class="row mt-5">
                <div class="h4 fw-bold">Perform Social Tasks and Earn</div>
                <p>
                    You can earn constant daily income by reselling products, posting adverts of various business adn top
                    brands on your social media accounts. To get started, simply click on any of the earning options shown below.
                </p>
            </div>

            <div class="row justify-content-center section">
                <h2 class="col-md-11">Pay Gig</h2>
                <div class="col-md-11 shadow p-5 m-2">
                    {% for task in post %}
                    <div class="row mx-3 justify-content-between align-items-center link" data-link="{{task.post_link}}" data-ident="{{task.id}}">
                        <div class="col-12 mx-auto justify-content-center nav-link fs-4">{{task.embed_link|safe}}</div>
                        <div class="row mx-3 justify-content-between align-items-center link mt-2">
                            <div class="col-12 fs-5 mb-2">{{task.description}}</div>
                            <button id="" type="button" class="post-btn btn col-md-3 btn-primary col rounded-5 fs-5" {% if request.user in task.users.all %}disabled{% endif %}>earn</button>
                        </div>
                        
                    </div>
                    <hr class="mr-4">
                    
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    let postBtn = document.querySelectorAll('.post-btn')
    let csrf_token = "{{ csrf_token }}"
    for( let i=0; i<postBtn.length; i++){
        postBtn[i].addEventListener('click', ()=>{
            let post = document.querySelectorAll('.link')
            let link = post[i].dataset['link']
            let postId = post[i].dataset['ident']
            let dataobj = {
                "post_id": postId,
                csrfmiddlewaretoken:csrf_token,
            }
            $.ajax({
                type:'POST',
                url: "/paygig/",
                data:dataobj,
                success: function(data){
                    
                    window.open(link, '_blank');
                    window.location.reload()
                },
                error: function(error){
                    console.log(error)
                },
            });
        })
    }


</script>
{% endblock %}