{% extends 'index.html' %}

{% block title %}Task{% endblock %}
{% load static %}

{% block content %}   
    
<div class="container-fluid">
    <div class="row">
        <main class="ms-sm-auto px-md-4 mt-5 mb-5">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 px-5 fw-bold bg-gradient blue-bg rounded-5">
                        <div class="h5 fw-bold">Estimated earnings</div>
                        <div class="row">
                            <div class="col-6">
                                <div>Today so far</div>
                                <div class="h6">N0.00</div>
                            </div>
                            <div class="col-6">
                                <div>Yesterday</div>
                                <div class="h6">N0.00</div>
                            </div>
                            <div class="col-6">
                                <div>Last 7 days</div>
                                <div class="h6">N0.00</div>
                            </div>
                            <div class="col-6">
                                <div>This month</div>
                                <div class="h6">N0.00</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 container">                    
                    <div class="row mt-md-0 mt-5 p-4 bg-gradient blue-bg rounded-4">
                        <h5 class="">Balance</h5>
                        <div class="h6">N0.00</div>
                    </div>                    
                </div>
            </div>

            <div class="row mt-5">
                <div class="h4 fw-bold">Perform Social Tasks and Earn</div>
                <p>
                    You can earn constant daily income by reselling products, posting adverts of various business adn top
                    brands on your social media accounts. To get started, simply click on any of the earning options shown below.
                </p>
            </div>
        </main>
    </div>
</div>
{% endblock %}