{% extends 'index.html' %}

{% block title %}Task{% endblock %}
{% load static %}

{% block content %}   
    
<div class="container-fluid">
    <div class="row">

        {% if request.user.is_authenticated %}
        {% include 'snippets/sidebar.html' %}
        {% endif %}

        <main class="ms-sm-auto {% if request.user.is_authenticated %}col-md-9 col-lg-10{% endif %} px-md-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h4">Task</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2 ">
                        <span class="me-2 text-muted"> Daily Task Earnings</span>
                        
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                
                <div class="d-md-block justify-content-center align-items-center">
                    <span class="me-2 fs-2 text-muted text-center">Watch videos to earn more points</span>
                    <div class="container m-1 mt-3 text-center">
                        <iframe width="400" height="200" src="https://www.youtube.com/embed/Jfvg3CS1X3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>40 windows commands you need to know</iframe>
                    </div>
                    <div class="container m-1 mt-3 text-center">
                        <iframe width="400" height="200" src="https://www.youtube.com/embed/gmLYxk8iqag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>Football moment</iframe>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock %}