{% extends 'index.html' %}
{% block title %}Smart Vendors{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/vendors.css' %}">

<div class="mt-5 mb-5">
  <div class="row row-cols-1 mb-5">

    <div class="col mx-auto h2 fw-bold navy-blue text-center mb-5">
      <div class="container">Top Earners</div>
    </div> 


    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 container mx-auto">

            {% for user in top_earners %}
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col-4 p-3">
                    <div class="shadow overflow-hidden m-2" style="height:100px; width:100px; border-radius:50%; object-fit:fill;">
                        <img src="{{user.picture_url}}" alt="" width="100" height="100">
                    </div>
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 blue-color">{{user.username}}</strong>
                  <a href="mailto:{{user.email}}">user.email</a>
                  <p>Referral{% if user.referral_user.user_list.all.count > 1 %}s{% endif %} {{user.referral_user.user_list.all.count}}</p>
                  <p class="mb-0 py-2" style="border-left: 1px solid var(black);">Amount {{user.user_currency.currency}}{{user.user_currency.totalEarnings}}</p>
                </div>
        
              </div>
            </div>
            {% endfor %}
          </div>
    </div>

  </div>
</div>

{% include 'snippets/affilate_ads.html' %}
{% endblock content %}