{%  extends 'index.html' %}
{% block title %}withdraw{%endblock%}


{%block content%}
<div class="container mt-5 mb-5">
    <div class="d-grid justify-content-center mt-5 mb-5">

        <div class="row row-cols-1">
            <div class="h3 navy-blue fw-bold mx-auto text-center">Withdraw fund</div>
            <button class="btn btn-primary">Add Bank</button>  
        </div>

        <div class="mt-5 withdraw-shadow p-2">
            <div class="h3 navy-blue fw-bold">Recent Withdraws</div>
            <p>No data</p>
        </div>
        
    </div>
</div>
{%endblock%}