{% extends 'index.html' %}
{% block title %}Smart Vendors{% endblock title %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/vendors.css' %}">

<div class="mt-5 mb-5">
  <div class="row row-cols-1 mb-5">

    <div class="col mx-auto h2 fw-bold navy-blue text-center mb-5">
      <div class="container">Withdrawal List</div>
    </div> 


    <form id="form-withdraw" class="" method="post">{% csrf_token %}
      <div class="table-responsive container">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">User</th>
              <th scope="col">Bank</th>
              <th scope="col">Transaction Id</th>
              <th scope="col">Account</th>
              <th scope="col">Amount</th>
              <th scope="col">Completed</th>
              <th scope="col">Approve</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object %}
            <tr>
              <td>{{obj.count}}</td>
              <td>{{obj.user}}</td>
              <td>{{obj.bank_name}}</td>
              <td>{{obj.transaction_id}}</td>
              <td>{{obj.account_balance}}</td>
              <td>{{obj.amount}}</td>
              <td>{{obj.transaction_completed}}</td>
              <td><input name="transaction_completed" value="{{obj.id}}" class="" type="checkbox" ></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      <button class="container btn btn-primary col-sm-4 mx-auto" type="submit">Approve</button>
    </form>
  </div>
</div>
<script>
  let csrf_token = "{{csrf_token}}"
</script>
{% endblock content %}

