{% load static %}

<div class=" container-lg d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="row featurette mt-5">

        <div class="col-12">
            <div class="container">
                <div class="h1 container fw-bold blue-color text-center">
                    <div class="affilate">
                        <div class="fs-1">AFFILATE</div>
                        <div class="">AFFILATE MARKETING</div>
                    </div>
                </div>
                <p class="fs-4 mt-2">
                    Pipay aims to revolutionize the affiliate marketing landscape, enabling individuals worldwide to unlock their financial potential, build thriving online businesses, and achieve financial freedom through a collaborative and innovative platform. Together, we will shape the future of affiliate marketing and empower countless individuals to monetize their online presence effortlessly.
                </p>
            </div>
        </div>
        
        <div class="col-12 mb-4 mt-5">
            <div class="container card p-0">
              <img src="{% static 'img/a4.jpg' %}" alt="pipaytech earning structure" class="bd-placeholder-img">
            </div>
        </div>
    </div>
</div>