{% load static %}

<header class="navbar navbar-dark navbar-expand-md sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-2 fs-4" href="{% url 'index' %}"><img src="{% static '/img/logo.png' %}" alt="logo" width="150"></a>

    <button class="navbar-toggler nav_toggle_btn d-md-none collapsed mt-1 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if loc %}
    <div id="sidebarMenu" class="collapse navbar-collapse">
        <div class="nav_head ms-auto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item mb-1">
                <a class="navbar-brand fs-6 ms-3" href="{% url 'coupon_verify' %}">Verify Coupon</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'coupon' %}">Coupon Vendors</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item mb-1 bg-light rounded-5 p-1 me-2">
                    <a class="navbar-brand text-primary fs-6 ms-3" href="{% url 'account_logout' %}">Sign out</a>
                </li>
                {% else %}
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_login' %}">Sign in</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_signup' %}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</header>