{% load static %}


<section class="navbar-expand-md flex-md-nowrap p-0">
<nav class="navbar navbar-dark sticky-top">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-2 fs-4" href="{% url 'index' %}"><img src="{% static '/img/logo.png' %}" alt="logo" width="150"></a>

    <button class="navbar-toggler nav_toggle_btn d-md-none collapsed mt-1 mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if loc %}
    <div id="sidebarMenu" class="collapse navbar-collapse">
        <div class="nav_head ms-auto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3 underline" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'coupon_verify' %}">Coupon Checker</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'coupon_vendor' %}">Smart Vendors</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="#">Top Earners</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="#">Advert post</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="#">Account Settings</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item mb-1">
                    <a class="navbar-brand fs-6 ms-3" href="{% url 'account_signup' %}">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    
</nav>

<section class="py-4 text-center navbar mt-0" id="sectionHeader">
    <div class="row py-md-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold">CONNECT AND EARN</h1>
        <p>
            We are online/Network Marketing Community build to provide people with opportunity
            to take advantage of the internet and turn our everyday social media into a tool for Earning (i.e Having skills 
            and making passive income
        </p>
      </div>
    </div>
  </section>
<section>