
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/brands.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/solid.css' %}">
        <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" media="all">

        {% if loc %}
        <link type="text/css" href="{% static 'css/landing_page.css' %}" rel="stylesheet" media="all">
        {% else %}
        <link type="text/css" href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
        {% endif %}

        
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <link rel="icon" href="{% static '/img/favio_icon.png' %}" type="image/png"  sizes="16x16" />
        <title>Pipay {% block title %} {% endblock %}</title>
    </head>
    <body>

        <script>
            let imgLogoSrc = "{% static '/img/logo2.png' %}"
            let imgLogoSrc2 = "{% static '/img/logo3.png' %}"
        </script>
        
        {% if loc %}
        {% include 'snippets/landing_page_header.html' %}
        {% else %}
        {% include 'snippets/main_header.html' %}
        {% endif %}   
        
        {% include 'snippets/message.html' %}
        {% block content %} 
        {% endblock %}

        <div id="copy-alert" class="shadow">
            <span class="p-3 rounded-2 bg-light">Copied!</span>
        </div>

        {% include 'snippets/footer.html' %}

        
        {% include 'snippets/header_modal.html' %}
        
        <script src="{% static 'js/coupon.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
       
    </body>
</html>