{% extends 'index.html' %}

{% block title %}{{request.user}} | Referrals{% endblock %}

{% block content %}
    
<div class="container-fluid">
    <div class="row">

        {% if request.user.is_authenticated %}
        {% include 'snippets/sidebar.html' %}
        {% endif %}

        <main class="ms-sm-auto {% if request.user.is_authenticated %}col-md-9 col-lg-10{% endif %} px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h4">{{user.username | title}}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2 ">
                        <!---<span class="me-2 text-muted">copy referral link- </span>--->
                        <div class="copyToClipboard">
                            <input type="text" value="{{request.scheme}}://{{ request.get_host }}{{user.get_referral_link}}" id="myInput" readonly>
                            <button class="btn btn-outline-secondary" onclick="copyText()">Copy</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container col-12 mt-5">
                <div class="fs-4 text-center">All {{user}} members</div>
                <div class="">
                    <ul class="list-unstyled fs-4">                        
                        {% for users in ref_user %}
                        {% if users.refered_user %}                        
                        <li class="">- {{users.refered_user | title}}</li>
                        {% else %}
                        <li>No user is registered using your refferal link</li>
                        {% endif %}
                        {% endfor %}                        
                    </ul>
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock %}